<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />

		<title>OzWalk &#8212; {% block title %}{% endblock %}</title>

		<!-- Pre-defined styles -->
		<link rel="stylesheet" href="//static.example.com/styles/normalise.css" />
		<link rel="stylesheet" href="//static.example.com/styles/bootstrap.css" />
		<link rel="stylesheet" href="//static.example.com/styles/bootstrap-theme.css" /> 

		<!-- Custom styles -->
		<link rel="stylesheet" href="//static.example.com/styles/{% block pagestyle %}{% endblock %}.css" />

		<!-- Pre-defined scripts -->
		<script src="//static.example.com/scripts/html5shiv.js"></script>
	</head>

	<body>
		<div class="container">
			<header>
				<div class="block">
					<div id="logo">
						<a href="/">
							<h1>
								<span id="oz">Oz</span><span id="walk">Walk</span>
							</h1>
						</a>
					</div>

				{% if session.logged_in %}
					<div id="sign">
						<a href="/logout/">
							<button class="btn btn-primary btn-sm">Log out</button>
						</a>
					</div>
				{% else %}
					<div id="sign">
						<a href="/login/">
							<button type="button" class="btn btn-primary btn-sm">Sign In</button>
						</a>
						<a href="/#sign-up">
							<button type="button" class="btn btn-success btn-sm">Sign Up</button>
						</a>
					</div>
				{% endif %}

					<nav>
						<ul>
							<li><a href="track.html">Tracks</a></li>
							<li><a href="/search/">Search</a></li>
						{% if session.logged_in %}
							<li><a href="profile.html">Profile</a></li>
						{% endif %}
						</ul>
					</nav>
				</div>

				<hr />
			</header>

			<div id="body">
				{% block body %}{% endblock %}
			</div>

			<footer>
				Copyright &copy; 2014 <a href="http://danielcollis.com/">Daniel Collis</a>
			</footer>
		</div>
	</body>
</html>
