{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block pagestyle %}index{% endblock %}

{% block body %}
				<div id="float"></div>
				<div id="centre">
					<form class="search-box" action="/search/" method="get">
						<input type="search" name="terms" placeholder="Where would you like to go?" required />
						<input type="submit" value="" src="styles/magglass.png" alt="Search" />
					</form>
				</div>
{% endblock %}
