{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block pagestyle %}search{% endblock %}

{% block body %}
			<div id="body">
				<div id="back-to-top">
					<a href="#">Back to top</a>
				</div>

				<form id="search-container" action="/search/" method="get">
					<div id="block-container">
						<div id="search-preferences-container">
							<div id="search-preferences">
								<h4>
									Difficulty:
								</h4>

								<strong>Fitness Level:</strong>
								<select name="fitness-level">
									<option value="e">Easy</option>
									<option value="em">Easy / Moderate</option>
									<option value="m">Moderate</option>
									<option value="mh">Moderate / Hard</option>
									<option value="h">Hard</option>
								</select>

								<strong>Experience Level:</strong>
								<select name="experience-level">
									<option value="n">None</option>
									<option value="li">Little</option>
									<option value="q">Quite a bit</option>
									<option value="lo">Lots</option>
								</select>

								<h4>
									Duration:
								</h4>

								<table>
									<tr>
										<td>
											<select name="duration-from">
												<option value="0">&lt;1 hour</option>
												<option value="60">1 hour</option>
												<option value="120">2 hours</option>
												<option value="380">6 hours</option>
												<option value="1520">1 day</option>
												<option value="3040">2 days</option>
												<option value="7600">5 days</option>
												<option value="7601">&gt;5 days</option>
											</select>
										</td>
										<td>
											to
										</td>
										<td>
											<select name="duration-to">
												<option value="60">1 hour</option>
												<option value="120">2 hours</option>
												<option value="380">6 hours</option>
												<option value="1520">1 day</option>
												<option value="3040">2 days</option>
												<option value="7600">5 days</option>
												<option value="7601">&gt;5 days</option>
											</select>
										</td>
									</tr>
								</table>

								<h4>
									Country:
								</h4>

								<select name="country">
									<option value="0">All</option>
									<option value="1">Australia</option>
									<option value="2">New Zealand</option>
								</select>

								<h4>
									Regions:
								</h4>

								<ul>
									<li>
										<input type="checkbox" name="state" value="nsw" /> New South Wales/ACT
										<ul>
											<li><input type="checkbox" name="region" value="bnp" /> Northern Rivers</li>
											<li><input type="checkbox" name="region" value="bnp" /> Mid North Coast</li>
											<li><input type="checkbox" name="region" value="bnp" /> Hunter</li>
											<li><input type="checkbox" name="region" value="bnp" /> Northern Tablelands</li>
											<li><input type="checkbox" name="region" value="bnp" /> Sydney Metropolitan</li>
											<li><input type="checkbox" name="region" value="bnp" /> Illawarra</li>
											<li><input type="checkbox" name="region" value="bnp" /> South Coast</li>
											<li><input type="checkbox" name="region" value="bnp" /> Central Tablelands</li>
											<li><input type="checkbox" name="region" value="bnp" /> Southern Tablelands</li>
											<li><input type="checkbox" name="region" value="bnp" /> Snowy Mountains</li>
											<li><input type="checkbox" name="region" value="bnp" /> North West Slopes &amp; Plains</li>
											<li><input type="checkbox" name="region" value="bnp" /> Central West Slopes &amp; Plains</li>
											<li><input type="checkbox" name="region" value="bnp" /> South West Slopes</li>
											<li><input type="checkbox" name="region" value="bnp" /> Riverina</li>
											<li><input type="checkbox" name="region" value="bnp" /> Lower Western</li>
											<li><input type="checkbox" name="region" value="bnp" /> Upper Western</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" name="state" value="qld" /> Queensland
										<ul>
											<li><input type="checkbox" name="region" value="bnp" /> Northern Rivers</li>
											<li><input type="checkbox" name="region" value="bnp" /> Mid North Coast</li>
											<li><input type="checkbox" name="region" value="bnp" /> Hunter</li>
											<li><input type="checkbox" name="region" value="bnp" /> Northern Tablelands</li>
											<li><input type="checkbox" name="region" value="bnp" /> Sydney Metropolitan</li>
											<li><input type="checkbox" name="region" value="bnp" /> Illawarra</li>
											<li><input type="checkbox" name="region" value="bnp" /> South Coast</li>
											<li><input type="checkbox" name="region" value="bnp" /> Central Tablelands</li>
											<li><input type="checkbox" name="region" value="bnp" /> Southern Tablelands</li>
											<li><input type="checkbox" name="region" value="bnp" /> Snowy Mountains</li>
											<li><input type="checkbox" name="region" value="bnp" /> North West Slopes &amp; Plains</li>
											<li><input type="checkbox" name="region" value="bnp" /> Central West Slopes &amp; Plains</li>
											<li><input type="checkbox" name="region" value="bnp" /> South West Slopes</li>
											<li><input type="checkbox" name="region" value="bnp" /> Riverina</li>
											<li><input type="checkbox" name="region" value="bnp" /> Lower Western</li>
											<li><input type="checkbox" name="region" value="bnp" /> Upper Western</li>
										</ul>
									</li>
									<li>
										<input type="checkbox" name="state" value="vic" /> Victoria
									</li>
									<li>
										<input type="checkbox" name="state" value="sa" /> South Australia
									</li>
									<li><input type="checkbox" name="state" value="wa" /> Western Australia</li>
									<li><input type="checkbox" name="state" value="nt" /> Northern Territory</li>
									<li><input type="checkbox" name="state" value="tas" /> Tasmania</li>
								</ul>

								<noscript>
									<input type="submit" value="Refine Search" />
								</noscript>

							</div>
						</div>
					</div>
					<div id="search-results">
						<div class="search-box">
							<input type="search" name="terms" placeholder="Where would you like to go?" required />
							<input type="submit" value="" src="styles/magglass.png" alt="Search" />
						</div>

						<div class="result">
							<a href="#track/12p3213"><h4>Katoomba - Golden Stairs - Ruined Castle - Mount Solitary - Wentworth Falls</h4></a>

							<div class="details">
								<ul>
									<li><strong>Country: </strong>Australia</li>
									<li><strong>Duration: </strong>1 hour</li>
									<li><strong>Fitness Level: </strong> Easy</li>
									<li><strong>Experience Level: </strong> Lots</li>
								</ul>
							</div>

							<div class="description">
								<strong>Region(s): </strong> Central Tablelands, Southern Tablelands.
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
						<div class="result">
							<a href="#track/12p3213"><h4>Katoomba - Golden Stairs - Ruined Castle - Mount Solitary - Wentworth Falls</h4></a>

							<div class="details">
								<ul>
									<li><strong>Country: </strong>Australia</li>
									<li><strong>Duration: </strong>1 hour</li>
									<li><strong>Fitness Level: </strong> Easy</li>
									<li><strong>Experience Level: </strong> Lots</li>
								</ul>
							</div>

							<div class="description">
								<strong>Region(s): </strong> Central Tablelands, Southern Tablelands.
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
						<div class="result">
							<a href="#track/12p3213"><h4>Katoomba - Golden Stairs - Ruined Castle - Mount Solitary - Wentworth Falls</h4></a>

							<div class="details">
								<ul>
									<li><strong>Country: </strong>Australia</li>
									<li><strong>Duration: </strong>1 hour</li>
									<li><strong>Fitness Level: </strong> Easy</li>
									<li><strong>Experience Level: </strong> Lots</li>
								</ul>
							</div>

							<div class="description">
								<strong>Region(s): </strong> Central Tablelands, Southern Tablelands.
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
						<div class="result">
							<a href="#track/12p3213"><h4>Katoomba - Golden Stairs - Ruined Castle - Mount Solitary - Wentworth Falls</h4></a>

							<div class="details">
								<ul>
									<li><strong>Country: </strong>Australia</li>
									<li><strong>Duration: </strong>1 hour</li>
									<li><strong>Fitness Level: </strong> Easy</li>
									<li><strong>Experience Level: </strong> Lots</li>
								</ul>
							</div>

							<div class="description">
								<strong>Region(s): </strong> Central Tablelands, Southern Tablelands.
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
						<div class="result">
							<a href="#track/12p3213"><h4>Katoomba - Golden Stairs - Ruined Castle - Mount Solitary - Wentworth Falls</h4></a>

							<div class="details">
								<ul>
									<li><strong>Country: </strong>Australia</li>
									<li><strong>Duration: </strong>1 hour</li>
									<li><strong>Fitness Level: </strong> Easy</li>
									<li><strong>Experience Level: </strong> Lots</li>
								</ul>
							</div>

							<div class="description">
								<strong>Region(s): </strong> Central Tablelands, Southern Tablelands.
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>

						<div id="loading">
							<img src="styles/loading.gif" />

							<!--Loading...-->
						</div>
				</form>
{% endblock %}
