@import 'main';

#body
{
	height: 85%;
}

.container
{
	min-height: $site-min-height;
	height: 100%;

	@include background('image', 'background_d.jpg');
}

#float
{
	background: none;
	float: left;
	height: 50%;
	width: 100%;
}

#centre
{
	font-size: 16pt;
	padding: 1em;
	clear: both;
	background: white;
	border-radius: 15px;

	.search-box
	{
		padding: 0;
		border: 3px solid grey;
		border-radius: 10px;
		position: relative;
		background: none;
		padding: 1px;	// Hack to prevent chrome from having the input box overlap the outline.

		input
		{
			outline: 0;

			&::-ms-clear
			{
				/* Remove stupid IE10+ clear button in search field */
				display: none;
			}

			&[type="search"], &[type="text"]	// Have both because IE9 doesn't recognise type="search".
			{ 
				border-style: none;
				border-color: transparent;
			//	overflow: auto;
				border-radius: 10px;
				width: $site-min-width - 100px;
				width: 100%;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				padding: 0.25em;
				padding-right: 1.5em;
				outline: 0;
			}

			&[type="submit"]
			{
				position: absolute;
				right: 0.5em;
				top: 0.5em;
				width: 0.9em;
				height: 0.9em;
				border: none;

				@include background('image', 'magglass.png');
				background-size: contain;
			}
		}
	}
}
