$site-width: 990px;
$site-min-width: 800px;
$site-min-height: 600px;

$site-header-footer-height: 3em;
$site-header-footer-colour: white;

$site-font-stack: Arial, sans-serif;
$site-font-colour: #333;

$site-logo-colour-oz: green;
$site-logo-colour-walk: $site-font-colour;

@mixin background($type: '', $url: '')
{
	@if $type == 'image'
	{
		background: url($url) no-repeat center;

		/* Background cover compatability */
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$url', sizingMethod='scale')";
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;

		background-size: cover;
	}
	@else
	{
		background: white;
	}
}

html {
	overflow-y: scroll;
}

html, body
{
	margin: 0;
	padding: 0;
	min-width: $site-min-width;
	color: $site-font-colour;
	font: $site-font-stack;
	min-height: $site-min-height;
	height: 100%;
}

.container
{
	margin: 0;
	padding: 0;
	position: relative;
	//min-height: 100%;
	width: 100%;
}

.block
{
	max-width: $site-width;
	min-width: $site-min-width;
	margin: 0 auto;
	padding: 5px 10px;
}

header, footer
{
	background: $site-header-footer-colour;
}

header
{
	position: relative;
	z-index: 2;
	width: 100%;
	color: $site-font-colour;

	a
	{
		color: $site-font-colour;

		&:hover
		{
			text-decoration: none;
		}
	}

	hr
	{
		margin: 0;
		clear: both;

		border-color: lightgrey;
	}

	#logo
	{
		float: left;

		a
		{
			&:hover
			{
				text-decoration: none;
				cursor: pointer;
			}
		}

		h1
		{
			margin: 0;
			margin-top: -4px;
			font-weight: bold;

			#oz
			{
				color: $site-logo-colour-oz;
			}

			#walk
			{
				color: $site-logo-colour-walk;
			}
		}
	}

	#sign
	{
		float: right;
	}

	nav
	{
		float: right;

		ul
		{
			margin: 0.45em 1em;
			list-style-type: none;

			li
			{
				display: inline;
				margin: 0 5px;
				font-weight: bold;
			}
		}
	}
}

footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $site-header-footer-height;
	text-align: center;
	
	padding-top: ($site-header-footer-height / 2) - 0.75em;
	
	z-index: 1;
	color: $site-font-colour;
}

#body
{
	padding-bottom: $site-header-footer-height;
	max-width: $site-width;
	width: 100%;
	min-width: $site-min-width;
	//height: 85%;
	margin: 0 auto;
	//position: relative;
	z-index: 1;
	height: 100%;
}
