@import 'main';

$search-preferences-width: 250px;
$search-preferences-colour: lightgrey;

.container {
	min-height: 100%;
}

header {
	position: absolute;
}

#body {
	padding-top: $site-header-footer-height;

	display: table;
}

#back-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1em;
	font-size: smaller;
	background: white;
	z-index: 10;
}

#search-container {
	display: table-row;

	#block-container {
		background: white;
		max-width: $search-preferences-width;
		min-width: $search-preferences-width;
		display: table-cell;

		#search-preferences-container {
			padding-top: $site-header-footer-height;
			position: absolute;
			left: 0;
			top: 0;
			bottom: $site-header-footer-height;
			font-size: small;
			max-width: $search-preferences-width;
			min-width: $search-preferences-width;
			//float: left;
			border-right: 1px solid $search-preferences-colour;
			//margin-left: calc(100% - $search-preferences-width - $site-min-width);

			#search-preferences {
				height: 100%;
				float: left;
				padding: 0 1em;
				//padding-bottom: 10em;
			//	float: left;

				//background: $search-preferences-colour;

				overflow-y: auto;

				table {
					td {
						padding: 0 2px;
					}
				}

				select {
					width: 100%;
				}

				ul {
					padding: 0;
					list-style-type: none;

					li {
						padding: 0;
						margin: 0;
					}

					ul {
						padding-left: 1em;
					}
				}

				noscript {
					display: block;
					width: 100%;
					text-align: center;

					input {
						border: none;
						background: none;

						color: cornflowerblue;
						
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	#search-results {
		z-index: 0;
		max-width: $site-width - $search-preferences-width;
		width: 100%;
		min-width: $site-min-width - $search-preferences-width;
		padding: 1em;

		//float: right;
		//clear: none;
		display: table-cell;
		height: 100%;

		.search-box
		{
			font-size: larger;
			padding: 0;
			border: 3px solid lightgrey;
			border-radius: 10px;
			position: relative;
			background: none;
			padding: 1px;	// Hack to prevent chrome from having the input box overlap the outline.

			input
			{
				outline: 0;

				&::-ms-clear
				{
					/* Remove stupid IE10+ clear button in search field */
					display: none;
				}

				&[type="search"], &[type="text"]	// Have both because IE9 doesn't recognise type="search".
				{ 
					border-style: none;
					border-color: transparent;
				//	overflow: auto;
					border-radius: 10px;
					width: $site-min-width - 100px;
					width: 100%;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					padding: 0.25em;
					padding-right: 1.5em;
					outline: 0;
				}

				&[type="submit"]
				{
					position: absolute;
					right: 0.5em;
					top: 0.5em;
					width: 0.9em;
					height: 0.9em;
					border: none;

					@include background('image', 'magglass.png');
					background-size: contain;
				}
			}
		}

		.result {
			width: 100%;
		//	border: 1px solid black;
		//	background: lightgrey;

			margin: 1em 0;
			padding: 1em;

			&:nth-child(even) {
				background: aliceblue;
			}

			ul {
				float: left;
				margin: 0;
				padding: 0;
				margin-right: 0.5em;
				padding-right: 0.5em;
				list-style-type: none;
				border-right: 1px dashed grey;
				border-bottom: 1px dashed grey;
				margin-bottom: -1px;
			}

			.description {
				text-align: justify;
			//	line-height: 150%;
			}
		}

		#loading{
			text-align: center;

			img {
				width: 32px;
				height: 32px;
			}
		}
	}
}