@import 'main';

.container {
	min-height: 100%;
}

#back-to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	background: white;
	z-index: 10;
}

.waypoint {
	background: whitesmoke;
	margin: 2em auto;
	min-width: $site-min-width;
	display: table;

	&:last-child {
		margin-bottom: 0;
	}

	.waypoint-row {
		display: table-row;
	}

	.waypoint-image {
		padding: 1em;
		display: table-cell;
		vertical-align: middle;
		width: 25%;	// Have to cut the table up in percentages to ensure printer-friendliness across browsers (namely Chrome).

		img {
			width: 100%;
		}
	}

	.waypoint-desc {
		padding-right: 1em;
		display: table-cell;
		width: 75%;
		vertical-align: middle;
	}
}

.site-rest {
	background: mintcream;
}

.site-commercial {
	background: mistyrose;
}

.site-camp {
	background: lightgreen;
}

.edge {
	background: beige;
	margin: 2em auto;
	min-width: $site-min-width;
	padding: 1em;

	.edge-details {
		width: 200px;
		float: right;
		padding: 1em;
		border: 1px dashed lightgrey;

		ul {
			list-style-type: none;
			padding: 0;
		}
	}

	.edge-desc {
		padding-right: 1em;
		border-left: 1px dashed grey;
		//clear: both;
	}

	.clear {
		clear: both;
	}
}

.track-details {
	width: 100%;
	margin: 1em 0;
	padding: 1em;

	&:nth-child(even) {
		background: aliceblue;
	}

	ul {
		float: left;
		margin: 0;
		padding: 0;
		margin-right: 0.5em;
		padding-right: 0.5em;
		list-style-type: none;
		border-right: 1px dashed grey;
		border-bottom: 1px dashed grey;
		margin-bottom: -1px;
	}

	.description {
		text-align: justify;
	}
}